# <font color=green>Inicio ETL</font>
Instalando o recurso, importando bibliotecas e fazendo o link com o banco
***

In [ ]:
pip install pandas sqlalchemy

In [12]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

In [13]:
conn = sqlite3.connect('etl.db')

# <font color=green>Extract</font>
Subindo a base através do Pandas de um arquivo (.csv)
***

In [14]:
dados = pd.read_csv('artist.csv')
dados.head()

,artist_id,full_name,first_name,middle_names,last_name,nationality,style,birth,death
0,500,Pierre-Auguste Renoir,Pierre,Auguste,Renoir,French,Impressionist,1841,1919
1,501,Alexandre Cabanel,Alexandre,NaN,Cabanel,French,Classicist,1823,1889
2,502,James Ensor,James,NaN,Ensor,Belgian,Expressionist,1860,1949
3,503,Maximilien Luce,Maximilien,NaN,Luce,French,Pointillist,1858,1941
4,504,August Macke,August,NaN,Macke,German,Expressionist,1887,1914

# <font color=green>Transform and Load</font>  
Realizadas Transformações nos nomes de colunas e filtrando os artistas por país, em seguida, atualizando os dados que estavam no formato (.csv) para Sqlite (.db)
***
***

In [15]:
mapeamento = {'artist_id': 'id_artista', 'full_name': 'nome_completo', 'first_name': 'primeiro_nome', 'middle_names': 'nomes_meio', 
              'last_name': 'ultimo_nome', 'nationality': 'nacionalidade', 'style': 'estilo', 'birth': 'nascimento', 'death': 'morte'}
dados.rename(columns=mapeamento, inplace=True)
print(dados)

     id_artista                nome_completo primeiro_nome        nomes_meio  \
0           500        Pierre-Auguste Renoir        Pierre           Auguste
1           501            Alexandre Cabanel     Alexandre               NaN
2           502                  James Ensor         James               NaN
3           503              Maximilien Luce    Maximilien               NaN
4           504                 August Macke        August               NaN
..          ...                          ...           ...               ...
416         916  Jean-Baptiste-Camille Corot          Jean  Baptiste Camille
417         917                   Jan Toorop           Jan               NaN
418         918              Rembrandt Peale     Rembrandt               NaN
419         919       Edmund Charles Tarbell        Edmund           Charles
420         920           Rembrandt Van Rijn     Rembrandt               NaN

    ultimo_nome nacionalidade         estilo  nascimento  morte
0        Renoir        French  Impressionist        1841   1919
1       Cabanel        French     Classicist        1823   1889
2         Ensor       Belgian  Expressionist        1860   1949
3          Luce        French    Pointillist        1858   1941
4         Macke        German  Expressionist        1887   1914
..          ...           ...            ...         ...    ...
416       Corot        French       Romantic        1796   1875
417      Toorop         Dutch      Symbolist        1858   1928
418       Peale      American   Neoclassical        1778   1860
419     Tarbell      American  Impressionist        1862   1938
420    Van Rijn         Dutch        Baroque        1606   1669

[421 rows x 9 columns]

In [16]:
for nacionalidade, grupo in dados.groupby('nacionalidade'):
    # Normalizando os dados
    nome_tabela = nacionalidade.replace(' ', '_').replace('.', '').replace(',', '')
    grupo.to_sql(nome_tabela, conn, if_exists='replace', index=False)